// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    padding-top: 70px;
}
footer {
    padding-top: 20px;
    font-size: 14px;
}

.top-margin01 {
    margin-top: 130px;
}
.top-margin02 {
    margin-top: 60px;
}
.top-margin03 {
    margin-top: 40px;
}
.top-h1 {
     font-size: 3.0em;
}
.fa_orange {
     color: orange;
}
.fa_gray {
     color: gray;
}
